beautifulsoup4==4.8.2
certifi==2019.11.28
Django==2.2.24
django-bootstrap4==1.1.1
django-fontawesome==1.0
Jinja2==2.10.3
MarkupSafe==1.1.1
Pillow==7.0.0
pytz==2019.3
PyYAML==5.3
soupsieve==1.9.5
sqlparse==0.3.0
