{% extends 'accounts/profile.html' %}
{% load bootstrap4 %}
{% load fontawesome %}
{% block profile_section %}
        <h1 class="m-2">Change Password:</h1>
            <form action="{% url 'new-password' %}" method="post" class="form">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}
                    <button type="submit" class="btn btn-danger">
                        Save
                    </button>
                {% endbuttons %}
            </form>
{% endblock %}