{% extends 'base.html' %}
{% load bootstrap4 %}
{% load fontawesome %}
{% block content %}
    {% fontawesome_stylesheet %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-3">
                <div class="card">
                    <img class="card-img-top" alt="Card image cap" src="{{ user.profile.photo.url }}">
                    {% block photo_form %}
                    {% endblock %}
                    <di class="card-body">
                        <ul class="list-group">
                            <li class="list-group-item"
                                    {% if "/accounts/" == request.path %}
                                style="background: #5b80b2"
                                    {% endif %}
                            >
                                <a href="{% url 'profile-account' %}" class="btn btn-primary-outline">
                                    {% fontawesome_icon 'user-circle' %}
                                    My Profile
                                </a>
                            </li>
                            <li class="list-group-item"
                                    {% if "/accounts/favorite_properties" == request.path %}
                                style="background: #5b80b2"
                                    {% endif %}
                            >
                                <a href="{% url 'favorite_properties' %}" class="btn btn-primary-outline">
                                    {% fontawesome_icon 'heart' %}
                                    Favorite Properties
                                </a>
                            </li>
                            <li class="list-group-item"
                                    {% if "/accounts/myproperties" == request.path %}
                                style="background: #5b80b2"
                                    {% endif %}
                            >
                                <a href="{% url 'myproperties' %}"
                                   class="btn btn-primary-outline">{% fontawesome_icon 'home' %} My
                                    Properties
                                </a>
                            </li>
                            <li class="list-group-item"
                                    {% if "/accounts/profile/add-property" == request.path %}
                                style="background: #5b80b2"
                                    {% endif %}
                            >
                                <a href="{% url 'new_listing' %}" class="btn btn-primary-outline"
                                   name="add">{% fontawesome_icon 'plus' %} Submit New
                                    Property
                                </a>
                            </li>
                            <li class="list-group-item"
                                    {% if "/accounts/change-password" == request.path %}
                                style="background: #5b80b2"
                                    {% endif %}
                            >
                                <a href="{% url 'change_password' %}" class="btn btn-primary-outline" name="password">
                                    {% fontawesome_icon 'lock' %}
                                    Change Password
                                </a>
                            </li>
                            <li class="list-group-item">
                                <button class="btn btn-primary-outline" name="signout">{% fontawesome_icon 'sign-out' %}
                                    Log out
                                </button>
                            </li>
                        </ul>
                    </di>
                </div>
            </div>
            <div class="col-9">
                <div class="card">
                    <div class="card-body ">
                        {% block profile_section %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}