{% extends 'base.html' %}
{% load bootstrap4 %}
{% load fontawesome %}
{% block content %}
    {% fontawesome_stylesheet %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-3">
                <div class="card">
                    <img class="card-img-top" alt="Card image cap" src="">
                    <di class="card-body">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <button class="btn btn-primary-outline">{% fontawesome_icon 'user-circle' %} My
                                    Profile
                                </button>
                            </li>
                            <li class="list-group-item">
                                <button class="btn btn-primary-outline" name="profile">{% fontawesome_icon 'heart' %} Favorite
                                    Properties
                                </button>
                            </li>
                            <li class="list-group-item">
                                <button class="btn btn-primary-outline" name="properties">{% fontawesome_icon 'home' %} My Properties
                                </button>
                            </li>
                            <li class="list-group-item">
                                <button class="btn btn-primary-outline" name="add">{% fontawesome_icon 'plus' %} Submit New
                                    Property
                                </button>
                            </li>
                            <li class="list-group-item">
                                <button class="btn btn-primary-outline" name="password">{% fontawesome_icon 'lock' %} Change Password
                                </button>
                            </li>
                            <li class="list-group-item">
                                <button class="btn btn-primary-outline" name="signout">{% fontawesome_icon 'sign-out' %} Log out
                                </button>
                            </li>
                        </ul>
                    </di>
                </div>
            </div>
            <div class="col-9">
                <div class="card">
                    <div class="card-body ">

                        <h1 class="m-2">My Account:</h1>
                        <form action="{% url 'register' %}" method="post" class="form">
                            {% csrf_token %}
                            {% bootstrap_form form %}
                            {% buttons %}
                                <button type="submit" class="btn btn-primary">
                                    Edit
                                </button>
                            {% endbuttons %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}