{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
    {# Display a form #}

    <div class="card m-5">
        <div class="card-body ">
            <h1 class="m-2">Register:</h1>
            <form action="{% url 'register' %}" method="post" class="form m-5">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}
                    <button type="submit" class="btn btn-primary">
                        Submit
                    </button>
                {% endbuttons %}
            </form>
        </div>
    </div>
    {# Read the documentation for more information #}
{% endblock %}